In [1]:
import pandas as pd
import numpy as np
import os, glob
from tqdm import tqdm

In [ ]:
dir_detail = "/home/data/kbh/DCASE2022/out/detail/"
dir_label = "/home/data/kbh/DCASE2022_SELD_dataset/label_dev/"
list_detail = [x for x in glob.glo(os.path.join(dir_detail,"*.csv"))]

In [25]:
path_detail = "/home/data/kbh/DCASE2022/out/detail/fold4_room23_mix012.csv"
path_label  = "/home/data/kbh/DCASE2022_SELD_dataset/metadata_dev/dev-test-sony/fold4_room23_mix012.csv"

In [32]:
df_detail = pd.read_csv(path_detail,names=["idx","class","azimuth","elevation","0","1","2","3","4","5","6","7","8","9","10","11","12"])
df_label = pd.read_csv(path_label,names=["idx","class","order","azimuth","elevation"])

display(df_detail.head())
display(df_label.head())

display(len(df_detail.index))
display(len(df_label.index))

,idx,class,azimuth,elevation,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.0,0.0,0.0,0.0,0.014628,0.085364,0.008011,0.011442,0.014372,0.102064,0.006106,0.005383,0.183578,0.007581,0.019193,0.028333,0.012375
1,1.0,0.0,0.0,0.0,0.014574,0.085260,0.008011,0.011446,0.014368,0.102000,0.006121,0.005378,0.183396,0.007581,0.019194,0.028332,0.012353
2,2.0,0.0,0.0,0.0,0.014570,0.085245,0.008013,0.011447,0.014367,0.101992,0.006122,0.005375,0.183374,0.007582,0.019195,0.028331,0.012349
3,3.0,0.0,0.0,0.0,0.014571,0.085249,0.008014,0.011447,0.014368,0.101995,0.006123,0.005375,0.183378,0.007581,0.019195,0.028332,0.012349
4,4.0,0.0,0.0,0.0,0.014574,0.085259,0.008013,0.011446,0.014369,0.102001,0.006122,0.005377,0.183393,0.007581,0.019194,0.028332,0.012350

   idx  class  order  azimuth  elevation
0    7      5      0       17         -9
1    8      5      0       18         -9
2    9      5      0       18        -10
3   10      5      0       18        -10
4   11      5      0       18        -10

950

1053

In [2]:
dir_detail = "/home/data2/kbh/DCASE2022/out/d0_v6/detail/"
dir_label = "/home/data2/kbh/DCASE2022/dev_label/"
list_detail = [x for x in glob.glob(os.path.join(dir_detail,"*.csv"))]


max_p = np.zeros(13)
min_p = np.zeros(13)
min_p[:] = 1.0

sum_p = np.zeros(13)
cnt_p = np.zeros(13) 
bool_p = np.zeros(13)

for path in tqdm(list_detail) : 
    df_detail = pd.read_csv(path,names=["idx","class","azimuth","elevation","0","1","2","3","4","5","6","7","8","9","10","11","12"])
    name_df = path.split('/')[-1]
    id_df = name_df.split('.')[0]
    df_label = pd.read_csv(os.path.join(dir_label,id_df+".csv"),names=["idx","class","order","azimuth","elevation"])
    
    last_idx = 0
    for i in df_detail.index :
        idx_detail = int(df_detail.iloc[i][0])

        # sampe time frame
        for j in range(last_idx, len(df_label.index)) :  
            idx_label = df_label.iloc[j][0]
            last_idx = idx_label           

            cat_label = df_label.iloc[j][1]

            # max 
            prob = df_detail.iloc[i][4+cat_label]
            if max_p[cat_label] < prob :
                max_p[cat_label] = prob

            if min_p[cat_label] > prob :
                min_p[cat_label] = prob

            sum_p[cat_label] += prob
            cnt_p[cat_label] += 1

            bool_p[cat_label]=1


            if idx_label > idx_detail :
                break
            
#display("bool_p : {}".format(bool_p))
display("max_p : {}".format(max_p))
display("min_p : {}".format(min_p))
display("mean_p : {}".format(sum_p/(cnt_p+1e-17)))
display("cnt_p : {}".format(cnt_p))

100%|██████████████████████████████████████████████████████████████████| 54/54 [50:27<00:00, 56.07s/it]

'max_p : [1.30797994 1.0991199  0.07004379 0.06420011 1.00345004 1.1862365\n 0.43430012 0.06851598 1.29570377 0.64693254 0.2945846  0.10145231\n 0.07381161]'

'min_p : [0.         0.         0.         0.         0.         0.\n 0.         0.         0.         0.         0.         0.\n 0.02886374]'

'mean_p : [0.20534038 0.28904329 0.02025443 0.02954912 0.17923919 0.78315296\n 0.07623596 0.01678401 0.15299674 0.22539169 0.08937218 0.04227332\n 0.05280627]'

'cnt_p : [2.399870e+06 4.695108e+06 7.719900e+04 5.221200e+04 5.161770e+05\n 2.558966e+06 1.942000e+04 9.018000e+03 6.928930e+06 2.450895e+06\n 3.027490e+05 3.098620e+05 3.220000e+02]'